<header class="layout--header" [class.on-scroll]="changeBackground">
  <nav>
    <div class="container" data-flex="justify-between">
      <div class="logo" >Look<span>After</span>
      </div>
      <div class="menu">
        <ul >
          <li class="nav-item"> <a class="nav-link active" href="#home">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#products">Products</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
          <li class="nav-item" *ngIf="!user"> <a class="nav-link" href="#" >Login or Register</a>
            <div class="tooltip not-logged" id="MenuWelcomeDeslogado" style="display: block;">
              <div class="login">
                <button class="button" data-button="blue block flat" (click)="modal.open('#modaFormulario')">Login</button>
                <span>Don't have a registration yet?</span>
                <a (click)="modal.open('#register')" title="Cadastre-se aqui">Register here</a>
              </div>
            </div>
          </li>
          <li class="nav-item" *ngIf="user"> <a class="nav-link" [routerLink]="'/logged'">Shopping</a> </li>
          <li class="nav-item" *ngIf="user"> <a class="nav-link" (click)="logout()">Logout</a> </li>


        </ul>
      </div>
    </div>
  </nav>
</header>
<app-modal #modal ></app-modal>