.logo {
  font-size: 24px;
  color: var(--color-white);
  span {
    color: var(--color-tertiary);
  }
}

.layout--header {
  padding: 40px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  transition: all .3s ease;
  &.on-scroll {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 40px 0 hsla(240,0%,6%,.05);
    .logo {
      font-size: 24px;
      color:  #0089f3;
      span {
        color: var(--color-tertiary);
      }
    }
    nav {
      .menu {
        color: #0089f3;
        ul {
          li {
            &:hover {
              a {
                color: #0089f3;
              }

              .tooltip {
                opacity: 1;
                top: 45px;
                visibility: visible;
              }
            }
            a {
              color: rgba(0, 137, 243, 0.7);
            }
          }
        }
      }
    }
  }
  nav {
    .menu {

      display: flex;
      align-items: center;
      color: #ffff;
      ul {
        list-style: none;
        display: flex;

        li {
          padding-left: 1rem;
          padding-right: 1rem;
          .tooltip {
            position: absolute;
            top: 25px;
            z-index: 999;
            padding: 15px 10px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 4px 8px rgba(0,0,0,.1);
            opacity: 0;
            visibility: hidden;
            transition: all 300ms 100ms;
            &::before{
                content: '';
                position: absolute;
                top: -8px;
                left: 30px;
                width: 0;
                height: 0;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid #fff;

            }

            .login {
              display: flex;
              /* width: 100%; */
              flex-wrap: wrap;
              justify-content: center;

              span {
                color: #000000cf;
                font-size: 12px;
                margin-top: 10px;
              }

              a {
                color: var(--color-tertiary);
                text-decoration: underline;
                margin-top: 10px;
                font-size: 10px;
              }
            }
          }
          &:hover {
            a {
              color: var(--color-white);
            }

            .tooltip {
              opacity: 1;
              top: 45px;
              visibility: visible;
            }
          }
          a {
            color: var(--color-white-light);
          }


        }
      }
    }
  }
}