footer {
  height: 100px;
  background: #0089f3;
  width: 100%;
  margin-top: 40px;
  .container-footer {
   height: 100%;
    align-items: center;
    color: var(--color-white-light);
    .contact {
      font-size: 10px;
    }
    .address {
      font-size: 14px;
    }
    .social {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
          margin-right: 12px;
          &.instagram{
            margin-top: 3px;
          }
          a:hover {
            color: var(--color-white);
          }
        }
      }
    }
  }
}