<app-header></app-header>
<section class="section-one">
  <div class="container">
    <div class="grid" data-gutter="small" data-flex="align-center">
      <div class="cell" data-cell-lg="6">
        <h1>HI, {{user.nome}}</h1>
        <p class="content-text">
          You are registered since {{user?.date}}, {{user?.nome}} our store will be available soon.
        </p>
      </div>
      <div class="cell" data-cell-lg="6">
        <img src="../../assets/images/video-bg-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>