.section-one {
  padding-top: 10rem;
  background-color: #0089f3;
  padding-bottom: 10px;

  h1 {
    font-size: 2.765em;
    color: var(--color-white);
  }
  .content-text {
    color: var(--color-white-light);
  }
}