* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  font: 16px/1.5 $font-primary, sans-serif;
  background: #fff;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &.disabled {
    overflow-y: hidden;
  }
}

body {


  margin: 0;
  cursor: default;
  user-select: none;
 // color: $color-2;



}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 400;
  line-height: $line-height;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .875em;
}

ol,
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p,
blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: $line-height;
}

p,
ul,
ol,
blockquote {
  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}

span {
  line-height: $line-height;
}

small,
.small {
  font-size: .75em;
  line-height: $line-height;
}

b,
strong {
  font-weight: 700;
  line-height: $line-height;
}

i,
em {
  font-style: italic;
  line-height: $line-height;
}

hr {
  width: 100%;
  margin: 1rem 0;
  border-width: 1px 0 0;
  border-color: rgba(#000, .15);
}

a {
  cursor: pointer;
  transition: 250ms linear;

  &,
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  transition: 250ms ease-out;

  &:active {
    background: transparent;
  }
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
svg {
  pointer-events: none;
}

[hidden] {
  display: none !important;
}

::placeholder {
  opacity: 1;
  color: #999;
}

::selection {
  color: #fff;
  background-color: $color-primary;
}

:focus {
  outline: none;
}

:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input {
  font: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
