.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0.5em 2em;
  font-size: 1rem;
  font-weight: 400;
  line-height: $line-height-small;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 400ms ease-in-out;

  &:disabled {
    opacity: 0.6;
  }

  &[data-button~="default"] {
    background-color: rgba(#fff, 0.05);

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(#000, 0.1);
    }
  }

  &[data-button~="default-outline"] {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;

    &:hover,
    &:focus,
    &:active {
      color: #000;
      background-color: #fff;
    }
  }

  &[data-button~="primary"] {
    color: #fff;
    background-color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($color-primary, 5%);
    }
  }

  &[data-button~="primary-outline"] {
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $color-primary;
    }
  }

  &[data-button~="secondary"] {
    color: #fff;
    background-color: $color-secondary;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($color-secondary, 5%);
    }
  }

  &[data-button~="blue"] {
    color: #fff;
    background-color: #0089f3;

    &:hover,
    &:focus,
    &:active {
      background-color: darken(#0089f3, 5%);
    }
  }

  &[data-button~="block"] {
    display: flex;
    width: 100%;
  }
  &[data-button~="flat"] {
    border-radius: 0;
  }

  &-icon-left .icon {
    margin-right: 1em;
  }

  &-icon-right .icon {
    margin-left: 1em;
  }

  &-icon {
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    text-align: center;
    border-radius: 50%;
  }

  &--text {
    flex-grow: 1;
    pointer-events: none;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }
}
