.item {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 1rem;
  }
}


.icon {
  fill: currentColor;
}


.social {
  $gutter: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter/2;
  padding: ($gutter/2) 0;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: $gutter/2;
    color: #00b6c3;
    background: #fff;
    border-radius: 50%;
    transition: transform 600ms cubic-bezier(0.4, 0.2, 0, 2), background 300ms linear, color 300ms linear;
    will-change: transform, contents;

    &:hover {
      transform: scale(1.3333);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}


.input-text {
  appearance: none;
  width: 100%;
  border: none;
  height: auto;
  padding: 0;
  margin: 0;
}

