html.is-scroll-disabled {
  overflow-y: hidden;
}





.layout--logo {
  align-self: stretch;
  margin: 0;
  a {
    display: flex;
    align-items: center;
  }
  
  img,
  svg {
    display: block;
    width: auto;
    height: 56px;
    
    @media #{$screen-md} {
      height: 88px;
    }
  }
}


.layout--spacer {
  flex-grow: 1;
}

.drawer_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  .icon {
    position: relative;
    width: 24px;
    height: 18px;
  }

  &:hover .icon div,
  .drawer-opened .icon div {
    background: #fff;
  }

  .icon div {
    $line-height: 4px;
    position: absolute;
    width: 100%;
    height: $line-height;
    background: #4d4d4d;
    transform-origin: center;
    transition: 250ms cubic-bezier(0.4,0.2,0,1);

    &:first-child {
      top: 0;
      left: 0;
    }

    &:last-child {
      bottom: 0;
      left: 0;
    }

    .drawer-opened & {
      background: #fff;

      &:first-child {
        top: calc(50% - #{$line-height/2});
        transform: rotate(-45deg);
      }

      &:last-child {
        bottom: calc(50% - #{$line-height/2});
        transform: rotate(45deg);
      }
    }
  }
}

.layout--drawer {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 360px;
  height: 100vh;
  padding-bottom: 24px;
  overflow-y: auto;
  background-color: #fff;
  pointer-events: none;
  transform: translateX(100%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4,0.2,0,1);
  
  .drawer-opened & {
    pointer-events: auto;
    transform: none;
  }
  
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu li {
    &.current-menu-item a {
      color: $color-secondary !important;
      border-left-color: $color-secondary;
    }
  }
  
  .menu a {
    display: block;
    padding-left: 24px;
    padding-left: 24px;
    font-size: 24px;
    font-family: $font-secondary;
    font-weight: 700;
    color: $color-primary;
    transition: 400ms ease-in-out;
    
    @media #{$screen-sm} {
      font-size: 32px;
    }
    
    &:hover {
      color: $color-secondary;
    }
  }
}


.drawer-backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(#000, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 400ms linear;
  will-change: opacity;
  
  .drawer-is-visible & {
    pointer-events: auto;
    opacity: 1;
  }
}


.page--header {
  margin-bottom: 2rem;
  
  @media #{$screen-md} {
    margin-bottom: 3rem;
  }
}

.page--title {
  display: flex;
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: $font-secondary;
  font-weight: 600;
  
  @media #{$screen-md} {
    margin-bottom: 3rem;
    font-size: 4.5rem;
  }
  
  .page--header & {
    margin-bottom: 1rem;
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    
    @media #{$screen-md} {
      width: 3rem;
      height: 3rem;
    }
  }
}

.page--content {
  padding-bottom: 4rem;
}


.section {
  padding: 2rem 0;

  @media #{$screen-md} {
    padding: 3rem 0;
  }
  
  &--header {
    margin-bottom: 1.5rem;
    
    @media #{$screen-md} {
      margin-bottom: 2rem;
    }
    
    .section--title {
      margin-bottom: 0;
    }
  }
  
  &--title {
    margin-bottom: 1.5rem;
    font-size: 24px;
    font-family: $font-secondary;
    font-weight: 600;
    color: $color-primary;
    
    @media #{$screen-md} {
      margin-bottom: 2rem;
      font-size: 32px;
    }
  }
}


.layout--footer {
  padding: 3rem 0;

  @media #{$screen-md} {
    margin-top: 3rem;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .grid {
    justify-content: space-between;
  }
  
  .grid--cell {
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media #{$screen-md} {
      justify-content: flex-start;
    }
  }
}

.layout--main {

}
