@font-face {
  font-family: jedi;
  src: url(fonts/starjedi/Starjedi.woff); }
/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(roboto-regular-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(roboto-bold-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  font: 16px/1.5 "jedi", sans-serif, sans-serif;
  background: #fff;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  html.disabled {
    overflow-y: hidden; }

body {
  overflow: hidden;
  min-height: 100vh;
  margin: 0;
  cursor: default;
  user-select: none;
  color: #fff;
  background: url("images/default.gif") repeat; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 400;
  line-height: calc(1em + 0.5rem); }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .875em; }

ol,
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem; }
  ol:first-child,
  ul:first-child {
    margin-top: 0; }
  ol:last-child,
  ul:last-child {
    margin-bottom: 0; }

p,
blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: calc(1em + 0.5rem); }

p:first-child,
ul:first-child,
ol:first-child,
blockquote:first-child {
  margin-top: 0 !important; }
p:last-child,
ul:last-child,
ol:last-child,
blockquote:last-child {
  margin-bottom: 0 !important; }

span {
  line-height: calc(1em + 0.5rem); }

small,
.small {
  font-size: .75em;
  line-height: calc(1em + 0.5rem); }

b,
strong {
  font-weight: 700;
  line-height: calc(1em + 0.5rem); }

i,
em {
  font-style: italic;
  line-height: calc(1em + 0.5rem); }

hr {
  width: 100%;
  margin: 1rem 0;
  border-width: 1px 0 0;
  border-color: rgba(0, 0, 0, 0.15); }

a {
  cursor: pointer;
  transition: 250ms linear; }
  a, a:hover, a:active {
    text-decoration: none;
    color: inherit; }

button {
  margin: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  transition: 250ms ease-out; }
  button:active {
    background: transparent; }

figure {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

img,
svg {
  pointer-events: none; }

[hidden] {
  display: none !important; }

::placeholder {
  opacity: 1;
  color: #999; }

::selection {
  color: #fff;
  background-color: #151554; }

:focus {
  outline: none; }

:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input {
  font: inherit; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

[data-flex] {
  display: flex; }

[data-flex~="justify-center"] {
  justify-content: center; }

[data-flex~="justify-between"] {
  justify-content: space-between; }

[data-flex~="justify-around"] {
  justify-content: space-around; }

[data-flex~="justify-end"] {
  justify-content: flex-end; }

[data-flex~="align-center"] {
  align-items: center;
  align-content: center; }

[data-flex~="align-start"] {
  align-items: flex-start;
  align-content: flex-start; }

[data-flex~="align-end"] {
  align-items: flex-end;
  align-content: flex-end; }

[data-flex~="wrap"] {
  flex-wrap: wrap; }

[data-flex~="column"] {
  flex-direction: column; }

[data-text~="center"] {
  text-align: center; }

[data-text~="right"] {
  text-align: right; }

[data-text~="uppercase"] {
  text-transform: uppercase; }

[data-text~="small"] {
  font-size: 14px !important; }

[data-text~="xsmall"] {
  font-size: 12px !important; }

[data-text~="large"] {
  font-size: 18px; }

[data-text~="bold"] {
  font-weight: 700; }

[data-color="gray-dark"] {
  color: rgba(0, 0, 0, 0.8); }

[data-color="gray-medium"] {
  color: rgba(0, 0, 0, 0.6); }

[data-color="gray-light"] {
  color: rgba(0, 0, 0, 0.4); }

.img {
  display: block; }
  .img-responsive {
    max-width: 100%;
    height: auto; }
  .img-cover, .img-contain {
    width: 100%;
    height: 100%; }
  .img-cover {
    object-fit: cover; }
  .img-contain {
    object-fit: contain; }

[data-display~="none"] {
  display: none !important; }

[data-display~="block"] {
  display: block; }

[data-display~="flex"] {
  display: flex; }

@media (min-width: 768px) {
  [data-display~="sm-none"] {
    display: none !important; } }

@media (min-width: 768px) {
  [data-display~="sm-block"] {
    display: block !important; } }

@media (min-width: 768px) {
  [data-display~="sm-flex"] {
    display: flex !important; } }

@media (min-width: 960px) {
  [data-display~="md-none"] {
    display: none !important; } }

@media (min-width: 960px) {
  [data-display~="md-block"] {
    display: block !important; } }

@media (min-width: 960px) {
  [data-display~="md-flex"] {
    display: flex !important; } }

.embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; }
  .embed iframe,
  .embed video,
  .embed figure,
  .embed img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem; }
  .container[data-full] {
    max-width: none; }
  .container[data-gutter="0"] {
    padding: 0; }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 960px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 1200px;
      padding-right: 48px;
      padding-left: 48px; } }
  @media (min-width: 1600px) {
    .container {
      max-width: 1440px; } }

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: -0.5rem;
  padding: 0;
  list-style: none; }
  .grid:not(:last-child) {
    margin-bottom: 0.5rem; }
  .grid[data-gutter="0"] {
    margin: 0; }
  .grid[data-gutter="xsmall"] {
    margin: -0.125rem; }
    .grid[data-gutter="xsmall"]:not(:last-child) {
      margin-bottom: 0.125rem; }
  .grid[data-gutter="small"] {
    margin: -0.25rem; }
    .grid[data-gutter="small"]:not(:last-child) {
      margin-bottom: 0.25rem; }
  .grid[data-gutter="large"] {
    margin: -0.75rem; }
    .grid[data-gutter="large"]:not(:last-child) {
      margin-bottom: 0.75rem; }
  .grid[data-gutter="xlarge"] {
    margin: -1rem; }
    .grid[data-gutter="xlarge"]:not(:last-child) {
      margin-bottom: 1rem; }

.cell {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  padding: 0.5rem; }
  .grid[data-gutter="0"] > .cell {
    padding: 0; }
  .grid[data-gutter="xsmall"] > .cell {
    padding: 0.125rem; }
  .grid[data-gutter="small"] > .cell {
    padding: 0.25rem; }
  .grid[data-gutter="large"] > .cell {
    padding: 0.75rem; }
  .grid[data-gutter="xlarge"] > .cell {
    padding: 1rem; }
  .cell[data-cell="2.4"] {
    flex-basis: 20%;
    max-width: 20%; }
  .cell[data-cell="auto"] {
    flex-grow: 0;
    flex-basis: auto;
    width: auto;
    max-width: none; }
  .cell[data-cell="1"] {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .cell[data-cell-offset="1"] {
    margin-left: 8.3333333333%; }
  .cell[data-cell="2"] {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .cell[data-cell-offset="2"] {
    margin-left: 16.6666666667%; }
  .cell[data-cell="3"] {
    flex-basis: 25%;
    max-width: 25%; }
  .cell[data-cell-offset="3"] {
    margin-left: 25%; }
  .cell[data-cell="4"] {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .cell[data-cell-offset="4"] {
    margin-left: 33.3333333333%; }
  .cell[data-cell="5"] {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .cell[data-cell-offset="5"] {
    margin-left: 41.6666666667%; }
  .cell[data-cell="6"] {
    flex-basis: 50%;
    max-width: 50%; }
  .cell[data-cell-offset="6"] {
    margin-left: 50%; }
  .cell[data-cell="7"] {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .cell[data-cell-offset="7"] {
    margin-left: 58.3333333333%; }
  .cell[data-cell="8"] {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .cell[data-cell-offset="8"] {
    margin-left: 66.6666666667%; }
  .cell[data-cell="9"] {
    flex-basis: 75%;
    max-width: 75%; }
  .cell[data-cell-offset="9"] {
    margin-left: 75%; }
  .cell[data-cell="10"] {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .cell[data-cell-offset="10"] {
    margin-left: 83.3333333333%; }
  .cell[data-cell="11"] {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .cell[data-cell-offset="11"] {
    margin-left: 91.6666666667%; }
  .cell[data-cell="12"] {
    flex-basis: 100%;
    max-width: 100%; }
  .cell[data-cell-offset="12"] {
    margin-left: 100%; }
  @media (min-width: 480px) {
    .cell[data-cell-xs] {
      flex-grow: 1;
      flex-basis: 0;
      max-width: none; }
    .cell[data-cell-xs="1"] {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .cell[data-cell-offset-xs="1"] {
      margin-left: 8.3333333333%; }
    .cell[data-cell-xs="2"] {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .cell[data-cell-offset-xs="2"] {
      margin-left: 16.6666666667%; }
    .cell[data-cell-xs="3"] {
      flex-basis: 25%;
      max-width: 25%; }
    .cell[data-cell-offset-xs="3"] {
      margin-left: 25%; }
    .cell[data-cell-xs="4"] {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .cell[data-cell-offset-xs="4"] {
      margin-left: 33.3333333333%; }
    .cell[data-cell-xs="5"] {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .cell[data-cell-offset-xs="5"] {
      margin-left: 41.6666666667%; }
    .cell[data-cell-xs="6"] {
      flex-basis: 50%;
      max-width: 50%; }
    .cell[data-cell-offset-xs="6"] {
      margin-left: 50%; }
    .cell[data-cell-xs="7"] {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .cell[data-cell-offset-xs="7"] {
      margin-left: 58.3333333333%; }
    .cell[data-cell-xs="8"] {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .cell[data-cell-offset-xs="8"] {
      margin-left: 66.6666666667%; }
    .cell[data-cell-xs="9"] {
      flex-basis: 75%;
      max-width: 75%; }
    .cell[data-cell-offset-xs="9"] {
      margin-left: 75%; }
    .cell[data-cell-xs="10"] {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .cell[data-cell-offset-xs="10"] {
      margin-left: 83.3333333333%; }
    .cell[data-cell-xs="11"] {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .cell[data-cell-offset-xs="11"] {
      margin-left: 91.6666666667%; }
    .cell[data-cell-xs="12"] {
      flex-basis: 100%;
      max-width: 100%; }
    .cell[data-cell-offset-xs="12"] {
      margin-left: 100%; }
    .cell[data-cell-xs="2.4"] {
      flex-basis: 20%;
      max-width: 20%; }
    .cell[data-cell-xs="auto"] {
      flex-grow: 0;
      flex-basis: auto;
      width: auto;
      max-width: none; } }
  @media (min-width: 768px) {
    .cell[data-cell-sm] {
      flex-grow: 1;
      flex-basis: 0;
      max-width: none; }
    .cell[data-cell-sm="1"] {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .cell[data-cell-offset-sm="1"] {
      margin-left: 8.3333333333%; }
    .cell[data-cell-sm="2"] {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .cell[data-cell-offset-sm="2"] {
      margin-left: 16.6666666667%; }
    .cell[data-cell-sm="3"] {
      flex-basis: 25%;
      max-width: 25%; }
    .cell[data-cell-offset-sm="3"] {
      margin-left: 25%; }
    .cell[data-cell-sm="4"] {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .cell[data-cell-offset-sm="4"] {
      margin-left: 33.3333333333%; }
    .cell[data-cell-sm="5"] {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .cell[data-cell-offset-sm="5"] {
      margin-left: 41.6666666667%; }
    .cell[data-cell-sm="6"] {
      flex-basis: 50%;
      max-width: 50%; }
    .cell[data-cell-offset-sm="6"] {
      margin-left: 50%; }
    .cell[data-cell-sm="7"] {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .cell[data-cell-offset-sm="7"] {
      margin-left: 58.3333333333%; }
    .cell[data-cell-sm="8"] {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .cell[data-cell-offset-sm="8"] {
      margin-left: 66.6666666667%; }
    .cell[data-cell-sm="9"] {
      flex-basis: 75%;
      max-width: 75%; }
    .cell[data-cell-offset-sm="9"] {
      margin-left: 75%; }
    .cell[data-cell-sm="10"] {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .cell[data-cell-offset-sm="10"] {
      margin-left: 83.3333333333%; }
    .cell[data-cell-sm="11"] {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .cell[data-cell-offset-sm="11"] {
      margin-left: 91.6666666667%; }
    .cell[data-cell-sm="12"] {
      flex-basis: 100%;
      max-width: 100%; }
    .cell[data-cell-offset-sm="12"] {
      margin-left: 100%; }
    .cell[data-cell-sm="2.4"] {
      flex-basis: 20%;
      max-width: 20%; }
    .cell[data-cell-sm="auto"] {
      flex-grow: 0;
      flex-basis: auto;
      width: auto;
      max-width: none; } }
  @media (min-width: 960px) {
    .cell[data-cell-md] {
      flex-grow: 1;
      flex-basis: 0;
      max-width: none; }
    .cell[data-cell-md="1"] {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .cell[data-cell-offset-md="1"] {
      margin-left: 8.3333333333%; }
    .cell[data-cell-md="2"] {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .cell[data-cell-offset-md="2"] {
      margin-left: 16.6666666667%; }
    .cell[data-cell-md="3"] {
      flex-basis: 25%;
      max-width: 25%; }
    .cell[data-cell-offset-md="3"] {
      margin-left: 25%; }
    .cell[data-cell-md="4"] {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .cell[data-cell-offset-md="4"] {
      margin-left: 33.3333333333%; }
    .cell[data-cell-md="5"] {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .cell[data-cell-offset-md="5"] {
      margin-left: 41.6666666667%; }
    .cell[data-cell-md="6"] {
      flex-basis: 50%;
      max-width: 50%; }
    .cell[data-cell-offset-md="6"] {
      margin-left: 50%; }
    .cell[data-cell-md="7"] {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .cell[data-cell-offset-md="7"] {
      margin-left: 58.3333333333%; }
    .cell[data-cell-md="8"] {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .cell[data-cell-offset-md="8"] {
      margin-left: 66.6666666667%; }
    .cell[data-cell-md="9"] {
      flex-basis: 75%;
      max-width: 75%; }
    .cell[data-cell-offset-md="9"] {
      margin-left: 75%; }
    .cell[data-cell-md="10"] {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .cell[data-cell-offset-md="10"] {
      margin-left: 83.3333333333%; }
    .cell[data-cell-md="11"] {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .cell[data-cell-offset-md="11"] {
      margin-left: 91.6666666667%; }
    .cell[data-cell-md="12"] {
      flex-basis: 100%;
      max-width: 100%; }
    .cell[data-cell-offset-md="12"] {
      margin-left: 100%; }
    .cell[data-cell-md="2.4"] {
      flex-basis: 20%;
      max-width: 20%; }
    .cell[data-cell-md="auto"] {
      flex-grow: 0;
      flex-basis: auto;
      width: auto;
      max-width: none; } }
  @media (min-width: 1280px) {
    .cell[data-cell-lg] {
      flex-grow: 1;
      flex-basis: 0;
      max-width: none; }
    .cell[data-cell-lg="1"] {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .cell[data-cell-offset-lg="1"] {
      margin-left: 8.3333333333%; }
    .cell[data-cell-lg="2"] {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .cell[data-cell-offset-lg="2"] {
      margin-left: 16.6666666667%; }
    .cell[data-cell-lg="3"] {
      flex-basis: 25%;
      max-width: 25%; }
    .cell[data-cell-offset-lg="3"] {
      margin-left: 25%; }
    .cell[data-cell-lg="4"] {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .cell[data-cell-offset-lg="4"] {
      margin-left: 33.3333333333%; }
    .cell[data-cell-lg="5"] {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .cell[data-cell-offset-lg="5"] {
      margin-left: 41.6666666667%; }
    .cell[data-cell-lg="6"] {
      flex-basis: 50%;
      max-width: 50%; }
    .cell[data-cell-offset-lg="6"] {
      margin-left: 50%; }
    .cell[data-cell-lg="7"] {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .cell[data-cell-offset-lg="7"] {
      margin-left: 58.3333333333%; }
    .cell[data-cell-lg="8"] {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .cell[data-cell-offset-lg="8"] {
      margin-left: 66.6666666667%; }
    .cell[data-cell-lg="9"] {
      flex-basis: 75%;
      max-width: 75%; }
    .cell[data-cell-offset-lg="9"] {
      margin-left: 75%; }
    .cell[data-cell-lg="10"] {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .cell[data-cell-offset-lg="10"] {
      margin-left: 83.3333333333%; }
    .cell[data-cell-lg="11"] {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .cell[data-cell-offset-lg="11"] {
      margin-left: 91.6666666667%; }
    .cell[data-cell-lg="12"] {
      flex-basis: 100%;
      max-width: 100%; }
    .cell[data-cell-offset-lg="12"] {
      margin-left: 100%; }
    .cell[data-cell-lg="2.4"] {
      flex-basis: 20%;
      max-width: 20%; }
    .cell[data-cell-lg="auto"] {
      flex-grow: 0;
      flex-basis: auto;
      width: auto;
      max-width: none; } }
  @media (min-width: 1600px) {
    .cell[data-cell-xl] {
      flex-grow: 1;
      flex-basis: 0;
      max-width: none; }
    .cell[data-cell-xl="1"] {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .cell[data-cell-offset-xl="1"] {
      margin-left: 8.3333333333%; }
    .cell[data-cell-xl="2"] {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .cell[data-cell-offset-xl="2"] {
      margin-left: 16.6666666667%; }
    .cell[data-cell-xl="3"] {
      flex-basis: 25%;
      max-width: 25%; }
    .cell[data-cell-offset-xl="3"] {
      margin-left: 25%; }
    .cell[data-cell-xl="4"] {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .cell[data-cell-offset-xl="4"] {
      margin-left: 33.3333333333%; }
    .cell[data-cell-xl="5"] {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .cell[data-cell-offset-xl="5"] {
      margin-left: 41.6666666667%; }
    .cell[data-cell-xl="6"] {
      flex-basis: 50%;
      max-width: 50%; }
    .cell[data-cell-offset-xl="6"] {
      margin-left: 50%; }
    .cell[data-cell-xl="7"] {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .cell[data-cell-offset-xl="7"] {
      margin-left: 58.3333333333%; }
    .cell[data-cell-xl="8"] {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .cell[data-cell-offset-xl="8"] {
      margin-left: 66.6666666667%; }
    .cell[data-cell-xl="9"] {
      flex-basis: 75%;
      max-width: 75%; }
    .cell[data-cell-offset-xl="9"] {
      margin-left: 75%; }
    .cell[data-cell-xl="10"] {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .cell[data-cell-offset-xl="10"] {
      margin-left: 83.3333333333%; }
    .cell[data-cell-xl="11"] {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .cell[data-cell-offset-xl="11"] {
      margin-left: 91.6666666667%; }
    .cell[data-cell-xl="12"] {
      flex-basis: 100%;
      max-width: 100%; }
    .cell[data-cell-offset-xl="12"] {
      margin-left: 100%; }
    .cell[data-cell-xl="2.4"] {
      flex-basis: 20%;
      max-width: 20%; }
    .cell[data-cell-xl="auto"] {
      flex-grow: 0;
      flex-basis: auto;
      width: auto;
      max-width: none; } }

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0.5em 2em;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1em + 0.25rem);
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 2em;
  transition: all 400ms ease-in-out; }
  .button:disabled {
    opacity: 0.6; }
  .button[data-button~="default"] {
    background-color: rgba(255, 255, 255, 0.05); }
    .button[data-button~="default"]:hover, .button[data-button~="default"]:focus, .button[data-button~="default"]:active {
      background-color: rgba(0, 0, 0, 0.1); }
  .button[data-button~="default-outline"] {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff; }
    .button[data-button~="default-outline"]:hover, .button[data-button~="default-outline"]:focus, .button[data-button~="default-outline"]:active {
      color: #000;
      background-color: #fff; }
  .button[data-button~="primary"] {
    color: #fff;
    background-color: #151554; }
    .button[data-button~="primary"]:hover, .button[data-button~="primary"]:focus, .button[data-button~="primary"]:active {
      background-color: #101040; }
  .button[data-button~="primary-outline"] {
    color: #151554;
    background-color: transparent;
    border: 1px solid #151554; }
    .button[data-button~="primary-outline"]:hover, .button[data-button~="primary-outline"]:focus, .button[data-button~="primary-outline"]:active {
      color: #fff;
      background-color: #151554; }
  .button[data-button~="secondary"] {
    color: #fff;
    background-color: #FF0045; }
    .button[data-button~="secondary"]:hover, .button[data-button~="secondary"]:focus, .button[data-button~="secondary"]:active {
      background-color: #e6003e; }
  .button[data-button~="block"] {
    display: flex;
    width: 100%; }
  .button-icon-left .icon {
    margin-right: 1em; }
  .button-icon-right .icon {
    margin-left: 1em; }
  .button-icon {
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    text-align: center;
    border-radius: 50%; }
  .button--text {
    flex-grow: 1;
    pointer-events: none; }
  .button .icon {
    width: 1.5em;
    height: 1.5em; }

@keyframes showOverlay {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }
@keyframes hideOverlay {
  from {
    visibility: visible;
    opacity: 1; }
  to {
    visibility: hidden;
    opacity: 0; } }
@keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(75%); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes hideModal {
  from {
    opacity: 1;
    transform: none; }
  to {
    opacity: 0;
    transform: translateY(75%); } }
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
  will-change: transform, opacity; }
  .overlay[data-backdrop] {
    background: rgba(0, 0, 0, 0.6); }
  .overlay[data-opened="true"] {
    pointer-events: auto;
    animation-name: showOverlay; }
  .overlay[data-opened="false"] {
    animation-name: hideOverlay; }
    .overlay[data-opened="false"]:not([data-type="alert"]) {
      animation-delay: 300ms; }

.modal {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
  background: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation-duration: 300ms;
  animation-fill-mode: both;
  will-change: transform, opacity; }
  @media (min-width: 640px) {
    .modal {
      max-width: 720px;
      height: auto;
      max-height: 100%;
      margin: 1.5rem;
      border-radius: 4px; } }
  [data-type="alert"] .modal {
    max-width: 360px;
    height: auto;
    margin: 1rem;
    text-align: center;
    border-radius: 4px; }
  .overlay[data-opened="true"] .modal {
    animation-name: showModal;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  .overlay[data-opened="true"]:not([data-type="alert"]) .modal {
    animation-delay: 200ms; }
  .overlay[data-opened="false"] .modal {
    animation-name: hideModal;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1); }
  .modal--header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 3rem;
    padding: 0.75rem 1rem;
    color: rgba(0, 0, 0, 0.8); }
  .modal--title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: calc(1em + 0.5rem); }
  .modal--content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8); }
  .modal--footer {
    display: flex;
    flex-shrink: 0;
    min-height: 3rem;
    padding: 1rem; }
    .modal--footer:before {
      flex-grow: 1;
      order: 1;
      content: ""; }
    .modal--footer button:first-of-type {
      order: 0; }
    .modal--footer button:last-of-type {
      order: 2; }

.button[data-modal-close] {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #999999;
  transition: 200ms ease-out; }
  .button[data-modal-close]:hover {
    color: #cccccc; }
  .modal .button[data-modal-close] {
    align-self: stretch;
    color: #cccccc; }
    .modal .button[data-modal-close]:hover {
      color: #999999; }
  .button[data-modal-close] .icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    pointer-events: none;
    fill: currentColor; }

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: none; } }
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: rotateY(90deg); }
  100% {
    opacity: 1;
    transform: none; } }
[data-animation] {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
  animation-duration: 1.5s; }

.animations-disabled, .animations-disabled [data-animation] {
  animation: none !important;
  opacity: 1 !important; }

.slideInUp {
  animation-name: slideInUp; }

.slideInDown {
  animation-name: slideInDown; }

.slideInLeft {
  animation-name: slideInleft; }

.slideInRight {
  animation-name: slideInRight; }

.fadeIn {
  animation-name: fadeIn; }

.fadeOut {
  animation-name: fadeIn;
  animation-direction: reverse; }

.zoomIn {
  animation-name: zoomIn; }

.zoomOut {
  animation-name: zoomIn;
  animation-direction: reverse; }

.zoomReverseIn {
  animation-name: zoomReverseIn; }

.zoomReverseOut {
  animation-name: zoomReverseIn;
  animation-direction: reverse; }

.flipInY {
  animation-name: flipInY; }

.flipOutY {
  animation-name: flipInY;
  animation-direction: reverse; }

html.is-scroll-disabled {
  overflow-y: hidden; }

.layout--header {
  display: flex;
  width: 100%;
  transition: 200ms ease-out; }
  .layout--header .container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 960px) {
      .layout--header .container {
        padding-top: 3rem;
        padding-bottom: 3rem; } }

.layout--logo {
  align-self: stretch;
  margin: 0; }
  .layout--logo a {
    display: flex;
    align-items: center; }
  .layout--logo img,
  .layout--logo svg {
    display: block;
    width: auto;
    height: 56px; }
    @media (min-width: 960px) {
      .layout--logo img,
      .layout--logo svg {
        height: 88px; } }

.layout--spacer {
  flex-grow: 1; }

.drawer_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px; }
  .drawer_button .icon {
    position: relative;
    width: 24px;
    height: 18px; }
  .drawer_button:hover .icon div,
  .drawer_button .drawer-opened .icon div {
    background: #fff; }
  .drawer_button .icon div {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #4d4d4d;
    transform-origin: center;
    transition: 250ms cubic-bezier(0.4, 0.2, 0, 1); }
    .drawer_button .icon div:first-child {
      top: 0;
      left: 0; }
    .drawer_button .icon div:last-child {
      bottom: 0;
      left: 0; }
    .drawer-opened .drawer_button .icon div {
      background: #fff; }
      .drawer-opened .drawer_button .icon div:first-child {
        top: calc(50% - 2px);
        transform: rotate(-45deg); }
      .drawer-opened .drawer_button .icon div:last-child {
        bottom: calc(50% - 2px);
        transform: rotate(45deg); }

.layout--drawer {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 360px;
  height: 100vh;
  padding-bottom: 24px;
  overflow-y: auto;
  background-color: #fff;
  pointer-events: none;
  transform: translateX(100%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1); }
  .drawer-opened .layout--drawer {
    pointer-events: auto;
    transform: none; }
  .layout--drawer .menu {
    margin: 0;
    padding: 0;
    list-style: none; }
  .layout--drawer .menu li.current-menu-item a {
    color: #FF0045 !important;
    border-left-color: #FF0045; }
  .layout--drawer .menu a {
    display: block;
    padding-left: 24px;
    padding-left: 24px;
    font-size: 24px;
    font-family: "Noyh", sans-serif;
    font-weight: 700;
    color: #151554;
    transition: 400ms ease-in-out; }
    @media (min-width: 768px) {
      .layout--drawer .menu a {
        font-size: 32px; } }
    .layout--drawer .menu a:hover {
      color: #FF0045; }

.drawer-backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 400ms linear;
  will-change: opacity; }
  .drawer-is-visible .drawer-backdrop {
    pointer-events: auto;
    opacity: 1; }

.page--header {
  margin-bottom: 2rem; }
  @media (min-width: 960px) {
    .page--header {
      margin-bottom: 3rem; } }

.page--title {
  display: flex;
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: "Noyh", sans-serif;
  font-weight: 600; }
  @media (min-width: 960px) {
    .page--title {
      margin-bottom: 3rem;
      font-size: 4.5rem; } }
  .page--header .page--title {
    margin-bottom: 1rem; }
  .page--title .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
    @media (min-width: 960px) {
      .page--title .icon {
        width: 3rem;
        height: 3rem; } }

.page--content {
  padding-bottom: 4rem; }

.section {
  padding: 2rem 0; }
  @media (min-width: 960px) {
    .section {
      padding: 3rem 0; } }
  .section--header {
    margin-bottom: 1.5rem; }
    @media (min-width: 960px) {
      .section--header {
        margin-bottom: 2rem; } }
    .section--header .section--title {
      margin-bottom: 0; }
  .section--title {
    margin-bottom: 1.5rem;
    font-size: 24px;
    font-family: "Noyh", sans-serif;
    font-weight: 600;
    color: #151554; }
    @media (min-width: 960px) {
      .section--title {
        margin-bottom: 2rem;
        font-size: 32px; } }

.layout--footer {
  padding: 3rem 0; }
  @media (min-width: 960px) {
    .layout--footer {
      margin-top: 3rem; } }
  .layout--footer .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .layout--footer .grid {
    justify-content: space-between; }
  .layout--footer .grid--cell {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 960px) {
      .layout--footer .grid--cell {
        justify-content: flex-start; } }

.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden; }

.item {
  display: flex;
  align-items: center; }
  .item .icon {
    margin-right: 1rem; }

.icon {
  fill: currentColor; }

.social {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  padding: 8px 0; }
  .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 8px;
    color: #00b6c3;
    background: #fff;
    border-radius: 50%;
    transition: transform 600ms cubic-bezier(0.4, 0.2, 0, 2), background 300ms linear, color 300ms linear;
    will-change: transform, contents; }
    .social a:hover {
      transform: scale(1.3333); }
  .social .icon {
    width: 24px;
    height: 24px; }

.input-text {
  appearance: none;
  width: 100%;
  border: none;
  height: auto;
  padding: 0;
  margin: 0; }

.tag {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 8px;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  background: #151554; }
  .tag .icon {
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5rem; }
  .tags .tag {
    text-transform: lowercase;
    font-size: 14px; }

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.layout-home {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }
  .layout-home--header .logo {
    width: 300px; }
  .layout-home--explain {
    position: relative;
    display: flex;
    justify-content: center; }
    @media (min-width: 768px) {
      .layout-home--explain .description {
        width: 75%; } }
    @media (min-width: 960px) {
      .layout-home--explain .description {
        font-size: 18px;
        width: 50%; } }
  .layout-home--start-game {
    height: 44px;
    width: 209px;
    font-family: jedi;
    font-size: 18px;
    text-align: center;
    background: none;
    color: #ffffff;
    border: solid thin #ffffff;
    cursor: pointer;
    letter-spacing: 10px; }
    .layout-home--start-game:last-child {
      margin-left: 20px; }
    .layout-home--start-game:hover {
      transform: scale(1.1); }

#modalRank .modal--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.layout-quiz {
  min-height: 100vh;
  position: relative; }
  .layout-quiz button:hover {
    opacity: 0.7; }
  .layout-quiz--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      .layout-quiz--header {
        justify-content: space-between; } }
    .layout-quiz--header .logo {
      width: 150px; }
    .layout-quiz--header .timer {
      font-size: 21px;
      width: 130px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .layout-quiz--header .timer .countdown {
        letter-spacing: 5px; }
    .layout-quiz--header .score {
      margin-bottom: 10px;
      text-align: center; }
      @media (min-width: 768px) {
        .layout-quiz--header .score {
          text-align: left; } }
      .layout-quiz--header .score span {
        display: block; }
        @media (min-width: 768px) {
          .layout-quiz--header .score span {
            display: inline; } }
  .layout-quiz--list {
    padding-top: 45px; }
    .layout-quiz--list .box {
      border: solid thin #f5df1e;
      border-radius: 4px;
      overflow: hidden; }
      .layout-quiz--list .box .image-character {
        height: 200px;
        position: relative; }
        .layout-quiz--list .box .image-character .options {
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 5px 20px;
          border: solid thin #fff;
          background: #06000bde;
          border-radius: 12px; }
      .layout-quiz--list .box .box-footer {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        position: relative; }
        .layout-quiz--list .box .box-footer .answer {
          font-family: 'Roboto';
          font-weight: 400;
          width: 100%;
          border: none;
          padding: 14px 10px;
          text-align: center; }
          .layout-quiz--list .box .box-footer .answer::placeholder {
            font-size: 14px; }
  .layout-quiz--footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center; }
    .layout-quiz--footer .more-questions {
      padding: 5px 20px;
      border: solid thin #fff;
      background: #06000bde; }

.modal--content .datails {
  display: flex;
  flex-wrap: wrap; }
  .modal--content .datails .image {
    width: 100%; }
    @media (min-width: 768px) {
      .modal--content .datails .image {
        width: 50%; } }
  .modal--content .datails .attributes {
    min-height: 212px;
    margin-top: 30px;
    width: 50%; }
    @media (min-width: 768px) {
      .modal--content .datails .attributes {
        padding-left: 30px;
        margin-top: 0px; } }
    .modal--content .datails .attributes ul {
      list-style: none;
      padding: 0; }
      .modal--content .datails .attributes ul li div {
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.6); }
.modal--content .more-datails {
  margin-top: 30px; }
  .modal--content .more-datails ul {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0; }
    .modal--content .more-datails ul li {
      margin-bottom: 10px; }
      .modal--content .more-datails ul li:not(:last-child):after {
        content: '';
        margin-right: 5px; }
  .modal--content .more-datails .vehicles {
    margin-top: 20px; }
.modal--content .finish-quiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: bold; }
  .modal--content .finish-quiz .score {
    font-size: 20px;
    margin-bottom: 20px; }
  .modal--content .finish-quiz .description {
    margin-bottom: 20px; }
  .modal--content .finish-quiz .field {
    margin-bottom: 10px; }
    .modal--content .finish-quiz .field input {
      padding: 5px 20px;
      border: solid thin gray; }
  .modal--content .finish-quiz .save-score-button, .modal--content .finish-quiz .button-go-home {
    padding: 5px 20px;
    border: solid thin gray; }

.button-go-home {
  padding: 5px 20px;
  border: solid thin gray;
  color: gray; }

/*.swiper-button-prev,
.swiper-button-next {
  background-image: url(../img/icon-arrow-right-white.svg);
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-size: auto;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  opacity: 1;
  background: #fff;
  transition: 200ms ease-out;

  &:hover {
    transform: scale(2);
  }

  &-active {
    background-color: $color-primary;
    transform: scale(2);
  }
}*/

/*# sourceMappingURL=style.css.map */
