.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: bold;
  .score {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: red;
  }

  .field {
    margin-bottom: 10px;
    input {
      padding: 5px 20px;
      border: solid thin var(--color-gray);
    }
  }
  .save-score-button, .button-go-home {
    padding: 5px 20px;
    border: solid thin var(--color-gray);

  }

}