<!-- MODALS -->


<div class="overlay" id="modaFormulario" (click)="close($event)"  data-backdrop data-modal-close>
  <section class="modal">
    <header class="modal--header">
      <h3 class="modal--title">Login</h3>
      <div class="button" data-type="icon" (click)="close($event)" data-modal-close><svg class="icon icon-clear" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></div>

    </header>
    <div class="modal--content">
      <div class="login">
        <div class="description" *ngIf="error">{{error}}</div>
        <div class="save-score">
          <form action="" autocomplete="false" novalidate role="form" #login="ngForm" id="login">

            <div class="field">
              <div>Email</div>
              <input name="emailLogin" #emailLogin='ngModel' class="input-tex" [style.border-color]="!emailLogin.valid && (emailLogin.dirty || emailLogin.touched) ? 'red' : ''" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="formLogin.email" type="text">
            </div>
            <div class="field">
              <div>Password</div>
              <input name="passwordLogin"   #passwordLogin='ngModel' [style.border-color]="!passwordLogin.valid && (passwordLogin.dirty || passwordLogin.touched) ? 'red' : ''" required [(ngModel)]="formLogin.password" type="password">
            </div>
            <button type="submit" [disabled]="!login.valid" class="button" data-button="blue flat" (click)="loginf()">Login</button>
          </form>
        </div>

      </div>
    </div>
  </section>
</div>



<div class="overlay" id="register" (click)="close($event)"  data-backdrop data-modal-close>
  <section class="modal">
    <header class="modal--header">
      <h3 class="modal--title">Register</h3>
      <div class="button" data-type="icon" (click)="close($event)" data-modal-close><svg class="icon icon-clear" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></div>

    </header>
    <div class="modal--content">
      <div class="login">
        <div class="description" *ngIf="error">{{error}}</div>
        <div class="save-score">
          <form action="" autocomplete="false"   name="formDespesa"  #myform="ngForm"  id="registerForm" novalidate role="form" >
            <div class="field">
              <div>Name</div>
              <input name="name" #name='ngModel'  minlength="3"  [style.border-color]="!name.valid && (name.dirty || name.touched) ? 'red' : ''" required [(ngModel)]="formRegister.nome" type="text">
            </div>
            <div class="field">
              <div>Email</div>
              <input name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" autocomplete="off" class="input-tex" [style.border-color]="!email.valid && (email.dirty || email.touched) ? 'red' : ''" required [(ngModel)]="formRegister.email" type="text">
            </div>
            <div class="field">
              <div>Phone</div>
              <input name="phone" minlength="9" maxlength="9"  pattern="\d*" #phone="ngModel"  autocomplete="off" class="input-tex" [style.border-color]="!phone.valid && (phone.dirty || phone.touched) ? 'red' : ''" required [(ngModel)]="formRegister.phone" type="text">
            </div>
            <div class="field">
              <div>Password</div>
              <input [style.border-color]="!password.valid && (password.dirty || password.touched) ? 'red' : ''" name="password" #password="ngModel" autocomplete="off" required [(ngModel)]="formRegister.password" type="password">
            </div>
            <button type="submit" [disabled]="!myform.valid" class="button" data-button="blue flat" (click)="register()">Create</button>
          </form>
        </div>

      </div>
    </div>
  </section>
</div>


<div class="overlay" id="alert" data-type="alert">
  <div class="modal">
    <header class="modal--header">
      <h3 class="modal--title">Warning</h3>
    </header>
    <div class="modal--content"></div>
    <footer class="modal--footer">
      <button (click)="close($event)" data-modal-close>Close</button>
    </footer>
  </div>
</div>