<app-header></app-header>
<section class="section-one">
  <div class="container">
    <div class="grid" data-gutter="small" data-flex="align-center">
      <div class="cell" data-cell-lg="6">
      <h1>Be welcome to our website.</h1>
        <p class="content-text">
          here you will find the best
          products for your need! <br>We have the best quality for the best price.
        </p>
      </div>
      <div class="cell" data-cell-lg="6">
        <img src="../../assets/images/video-bg-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="carousel-section">
  <div class="carousel-section--header">
    <h1>Products</h1>
    <div class="description">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
    </div>
  </div>

  <ul class="carousel" data-target="carousel">
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="card" data-target="card" >
    <div class="container-product">
      <div class="imagem">
        <img src="../../assets/images/pampers.jpg" alt="">
      </div>
      <div class="description">
        <div class="name">Premium Care Pants</div>
        <div class="avaliable-container">
          <div class="title">Sizes:</div>
          <div class="size">
            <div class="item-size">
              p
            </div>
            <div class="item-size">
              M
            </div>
            <div class="item-size">
              g
            </div>
          </div>
        </div>
      </div>
    </div>

  </li>
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>
    <li class="card" data-target="card" >
      <div class="container-product">
        <div class="imagem">
          <img src="../../assets/images/pampers.jpg" alt="">
        </div>
        <div class="description">
          <div class="name">Premium Care Pants</div>
          <div class="avaliable-container">
            <div class="title">Sizes:</div>
            <div class="size">
              <div class="item-size">
                p
              </div>
              <div class="item-size">
                M
              </div>
              <div class="item-size">
                g
              </div>
            </div>
          </div>
        </div>
      </div>

    </li>

  </ul>
</section>

<app-footer></app-footer>