.section-one {
  padding-top: 10rem;
  background-color: #0089f3;
  background-image: url(../../assets/images/hero-trans.png), url(../../assets/images/hero-bottom.png);
  background-repeat: no-repeat no-repeat;
  background-position: center top, center 101%;
  min-height:800px;

  h1 {
    font-size: 2.765em;
    color: var(--color-white);
  }
  .content-text {
    color: var(--color-white-light);
  }
}
.carousel-section {
  margin-top: 40px;
  .carousel-section--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    h1 {
      width: 100%;
      font-size: 24px;
      color: var(--color-tertiary);
      text-align: center;
      font-weight: 600;
    }
    .description {
      width: 50%;
      font-size: 12px;
      text-align: center;

    }
  }

  .wrapper {
    width: 632px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    left: 0;
  }

  .card {
    background: black;
    display: inline-block;
    flex-shrink:0;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(20,39,82,0.1);
    box-shadow: 0px 3px 8px 0px rgba(20,39,82,0.1);
    background: var(--color-white);
  }
.container-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .imagem {
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    /* border: solid 1px #8888; */
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .description {
    .avaliable-container {
      .title {
        font-size: 10px;
        margin-bottom: 5px;
        font-weight: 600;
      }
      .size {
        display: flex;
        .item-size {
          width: 20px;
          height: 20px;
          border: solid 1px #8888;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-size: 10px;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            border: solid 1px var(--color-tertiary);
          }

        }
      }
    }
  }
}

}
